//--------------------------------------
// Content
//
// This is the basic story page layout,
// but it can appear in other content
// types such as pages, bios, and
// collection bodies
//--------------------------------------

.content_header {
  margin-bottom: 2rem;
}

.content_subtitle {
  margin: .75rem 0;
  font-family: $font-family-copy;
  font-size: 1.8rem;
  line-height: 1.5;
  color: $color-text-dark;
}

.content_topic {
  font-weight: bold;
  color: $color-link;
  margin-bottom: .5em;
}

.content_meta {
  margin: .5em 0;
}

.content_byline {
  display: inline-block;
  font-weight: bold;
  color: $color-text-light;
  margin-right: .75em;
}

.content_pubdate {
  display: inline-block;
  font-weight: bold;
  color: $color-text-light;
}

.content_body {
  margin: 0 auto;
  max-width: 50rem;
  line-height: 1.5;
  font-family: $font-family-copy;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include hdg-headline();
  }

  .apm-gallery-title {
    @include hdg-3();
  }

  .apm-gallery-slides {
    margin: 1em 0;
    counter-reset: slideCounter;
  }

  .apm-slide {
    .figure_caption::before {
      @include hdg-2();
      content: counter(slideCounter);
      counter-increment: slideCounter;
      display: table-cell;
      vertical-align: middle;
      width: 85px;
      text-align: center;
    }
  }
}
