//----------------------------------------------
// Flexible promo space
//----------------------------------------------

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-grey-30;
  border-radius: 5px;
  padding: 10px 0 10px 30px; // TODO: Check with Nick if this is what he meant: adding one of his paddings meant that making the right padding 20px lead to things looking lopsided.
  background: $color-promo-bg;
}

.promo_button {
  padding: 5px 32px;
}
