
// Slideshow

$_button-size: 50px;
$_button-size-neg: -50px;
$_button-size-mobile: 40px;
$_button-size-mobile-neg: -40px;
$_button-position: -175px;
$_button-icon-size: 29px;
$_button-icon-size-mobile: 15px;

.slideshow {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.slideshow_button {
  @include reset-button();
  height: $_button-size;
  width: $_button-size;
  z-index: $z-slideshow-button;
  align-self: center;
  margin-top: $_button-position;
  background-color: rgba($color-blue, .75);

  @include media-max($media-small-tablet) {
    height: $_button-size-mobile;
    width: $_button-size-mobile;
  }

  &:hover {
    background-color: rgba($color-blue, 1);
  }
}

.slideshow_icon {
  height: $_button-icon-size;
  width: $_button-icon-size;
  filter: drop-shadow(2px 2px 1px $color-black);

  @include media-max($media-small-tablet) {
    height: $_button-icon-size-mobile;
    width: $_button-icon-size-mobile;
  }
}

.slideshow_button-left {
  grid-row: 1;
  grid-column: 1;
}

.slideshow_container {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  z-index: $z-slideshow-container;
  margin: 0 $_button-size-neg;
  background: rgba($color-grey-90, .75);
  overflow: hidden;
  position: relative;

  @include media-max($media-small-tablet) {
    margin: 0 $_button-size-mobile-neg;
  }
}

.slideshow_button-right {
  grid-row: 1;
  grid-column: 3;
}

.slideshow_button-next {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.slideshow_button-prev {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.slideshow_item {
  grid-row: 1;
  grid-column: 1;
  z-index: $z-slideshow-image;
}

.slideshow_figure {
  z-index: $z-slideshow-image;
}

.slideshow_image {
  z-index: $z-slideshow-image;
}

.slideshow_caption {
  padding: 16px;
  font-size: 1.3rem;
}

.invisible {
  display: none;
}

.slideshow_credit {
  padding-bottom: 16px;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: .45em;
    border-radius: 2px;
    background: $color-blue-light;
  }
}

.slideshow_creditName {
  display: inline;
}

.slideshow_count {
  position: absolute;
  top: 0;
  right: 0;
  background: $color-black;
  color: $color-white;
  z-index: $z-slideshow-count;
  padding: 4px 8px;
  font-family: $font-family-sans;
}
