//----------------------------------------------
// Collection Teaser
//----------------------------------------------

.teaser {
  display: flex;
  flex-direction: column;
}

.teaser_link {
  order: 1;
  border-radius: 1px; // to make focus outline have rounded corners
  transition: box-shadow $transition;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba($color-blue, .3);
  }
}

.teaser_button {
  order: 2;
  margin-top: .75rem;
}

.teaser_header {
  margin-bottom: .5rem;

  .hdg {
    @include hdg-2();
    @include hdg-headline();
    color: $color-link;

    .teaser-condensed & {
      @include hdg-3();
    }
  }
}

.teaser_image {
  margin-bottom: .75rem;

  > * {
    width: 100%;
    height: auto;
  }

  .teaser-condensed & {
    float: right;
    margin: 5px 0 10px 10px;
    width: 120px;
  }
}

.teaser_time {
  display: inline-block;
  margin-right: .75rem;
  font-size: 1.2rem;
}

.teaser_contributors {
  display: inline-block;
  font-size: 1.2rem;
  color: $color-text-dark;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: .45em;
    border-radius: 2px;
    background: $color-blue-light;
  }
}

.teaser_body {
  margin-top: .75rem;
  font-family: $font-family-copy;
  font-size: 1.4rem;
}
