// Weather widget in sidebar

.weatherSidebar {
  font-size: .9em;
}

.weatherSidebar_label {
  font-size: 1em;
  font-weight: bold;
}

.weatherSidebar_desc {
  font-weight: 200;
}

.weatherSidebar_section {
  margin-bottom: 20px;
}
