$_weather-attr-min-width: 380px;

.weather {
  max-width: $max-width;
}

.weather_heading {
  display: flex;
}

.weather_location {
  display: flex;
  justify-content: space-between;
}

.weather_currentForecast {
  display: flex;
  align-items: flex-start;
}

.weather_currentStats {
  display: flex;
}

.weather_attrs {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
}

.weather_attr {
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

.weather_attrName {
  min-width: 180px;
  font-weight: 200;
}

.weather_attrData {
  text-align: right;
}

.weather_currentUpdated {
  font-size: .9em;
  font-weight: 200;
  color: $color-text-light;
  margin-top: 50px;
  min-width: 300px;
  text-align: right;
  align-self: flex-end;
}

.weather_chart {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 50px;
}

.weather_chartTitle {
  margin-bottom: 25px;
}

.weather_chartScrollable {
  width: 125%;
}

.weather_chartPoint {
  font-size: .45em;
  font-weight: 700;
  fill: $color-grey-20;
}

.weather_chartPointHour {
  font-size: .75em;
  font-weight: 400;
  fill: $color-grey-40;
}

.weather_chartPointDay {
  font-size: .9em;
  font-weight: 400;
  fill: $color-grey-60;
}
