$_weather-attr-min-width: 380px;

.weather {
  max-width: $max-width;
}

.weather_heading {
  display: flex;
  padding-bottom: 15px;
}

.weather_location {
  display: flex;
  justify-content: space-between;


  @include media-max($media-tablet) {
    flex-direction: column;
    margin: 25px 0;
  }
}

.weather_locationSelect {
  height: 40px;
}

.weather_currentForecast {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.weather_currentStats {
  display: flex;
}

.weather_attrs {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
}

.weather_attr {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  @include media($media-small-tablet) {
    min-width: 500px;
  }
}

.weather_attrName {
  min-width: 180px;
  font-weight: 200;
}

.weather_attrData {
  text-align: right;
}

.weather_currentUpdated {
  align-self: flex-end;
  margin-top: 50px;
  min-width: 300px;
  text-align: right;
  font-size: .9em;
  font-weight: 200;
  color: $color-text-light;
}

.weather_chart {
  margin-top: 25px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.weather_chartTitle {
  margin-top: 50px;
}

.weather_chartScrollable {
  min-width: 1900px;
}

.weather_chartPoint {
  font-size: .85em;
  font-weight: 700;
  fill: $color-grey-20;
}

.weather_chartPointHour {
  font-size: .75em;
  font-weight: 400;
  fill: $color-grey-40;
}

.weather_chartPointDay {
  font-size: .9em;
  font-weight: 400;
  fill: $color-grey-60;
}

.weather_weeklyChart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.weather_weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.weekday_temps {
  display: flex;
  font-size: 1.7em;
  color: $color-blue-dark;
}

.weekday_temp-lo {
  font-size: .7em;
  color: $color-grey-40;
  font-weight: 200;
}

.weekday_label {
  color: $color-grey-10;
}
