// Weather widget in sidebar

.weatherSidebar {
  font-size: .9em;
  display: block;

  > * {
    break-inside: avoid;
  }
}

.weatherSidebar_label {
  display: block;
}

.weatherSidebar_label-high {
  color: $color-gold;
}

.weatherSidebar_label-low {
  color: $color-blue-faded;
}

.weatherSidebar_desc {
  color: $color-text-dark;
  font-size: 1.5rem;
  text-transform: lowercase;
}

