//--------------------------------------
// Columns
//
// Constrains the width of content to
// the site maximum, includes edge
// padding at smaller sizes.
//--------------------------------------

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $container-edge;
  position: relative;
}

.container-amp {
  font-size: .85em;

  .content_body {
    max-width: 100%;
  }

  .story {
    margin: 0 auto;
    max-width: 40em;
  }

  .episode {
    margin: 0 auto;
    max-width: 40em;
  }
}
