// The grid for content pages; i.e. main content with a sidebar

.gridContent {
  @include media($media-full-layout) {
    display: grid;
    grid-template-columns: 1fr 310px;
    grid-template-areas: 'main sidebar';
    grid-column-gap: 5%;
  }
}

.gridContent_main {
  grid-area: main;
}

.gridContent_sidebar {
  grid-area: sidebar;
}
