//--------------------------------
// Main content area
//--------------------------------

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: $header-height-mobile + $header-buffer;
  flex-grow: 1;
  flex-basis: auto; // IE11 bug fix

  @include media($media-full-layout) {
    padding-top: $header-height-desktop + $header-buffer;
  }
}


.main-listen {
  padding-top: 0;
  position: relative;

  .player.is-live .player_popout {
    display: none;
  }
}
