//----------------------------------------------
// Mobile scroller
//
// * scrolls inner contents horizontally
//   at mobile screen sizes
//----------------------------------------------

.mobileScroll {
  @include media-max($media-t-d) {
    overflow-x: auto;
    margin-left: -($container-edge);
    margin-right: -($container-edge);

    & > * {
      width: $media-t-d;
      margin-left: $container-edge;
      margin-right: $container-edge;
    }
  }
}
