//--------------------------------
// Main Nav
//--------------------------------

.nav {
  font-size: 1.8rem;

  @include media($media-full-layout) {
    font-size: 1.6rem;
  }

  @include media($media-desktop) {
    font-size: 2rem;

    .is-compact & {
      font-size: 1.6rem;
    }
  }
}

.nav_header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.nav_logo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.nav_closeButton {
  @include reset-button();
  display: block;
  order: 1;
  transition: color $transition-menu;
  color: $color-white;
}

.nav_item {
  &:last-child {
    margin-right: 0;
  }
}

.nav_link {
  display: block;
  padding: 10px 0;
  color: $color-white;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $color-default;
  }
}

.nav_footer {
  margin-top: 50px;
}
