.separator {
  border-left: 2px solid $color-grey-70;
  padding-left: 1em;
}

.separator-search {
  display: none;

  @include media($media-full-layout) {
    display: block;
    padding-top: .4em;
  }
}
