//--------------------------------------
// Content
//
// This is the basic story page layout,
// but it can appear in other content
// types such as pages, bios, and
// collection bodies
//--------------------------------------

.content_body {
  .figure_caption {
    display: table;
    height: 100%;
    width: 100%;
    margin-top: 0;
    background-color: $color-grey-90;
    padding: 1em 1em 1em 0;
  }

  .figure_text {
    display: inline;
    font-size: 1.2em;
    font-family: $font-family-copy;
  }

  .figure_credit {
    display: inline;
    padding-left: .5em;
    text-align: left;
    font-size: 1.2em;
    font-weight: 900;
    color: $color-grey-40;
  }

  .apm-gallery-title {
    @include hdg-3();
  }

  .apm-gallery-slides {
    margin: 1em 0;
    counter-reset: slideCounter;
  }

  .apm-slide {
    .figure_caption::before {
      @include hdg-2();
      content: counter(slideCounter);
      counter-increment: slideCounter;
      display: table-cell;
      vertical-align: middle;
      width: 85px;
      text-align: center;
    }
  }
}
