//----------------------------------------------
// Headings
//----------------------------------------------

.hdg {
  @include hdg();
}

.hdg-1 {
  @include hdg-1();
}

.hdg-2 {
  @include hdg-2();
}

.hdg-3 {
  @include hdg-3();
}

.hdg-4 {
  @include hdg-4();
}

.hdg-5 {
  @include hdg-5();
}

.hdg-6 {
  @include hdg-6();
}

.hdg-inline {
  display: inline-block;
}

.hdg-light {
  font-weight: normal;
}

// Should be used only for story/content headlines and headings, not other UI elements
.hdg-headline {
  @include hdg-headline();
}

// For the Weather page's unique typography
.hdg-temp {
  margin-left: 15px;
  font-size: 4.5em;
  font-weight: 100;
}

.hdg-forecast {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 13px;
  margin-left: 5px;
  color: $color-text;
  // fancy underline (will we need it elsewhere? if so --> mixin)
  background-size: 2px 1em;
  box-shadow: inset 0 -.12em $color-bg, inset 0 -.15em $color-text-light;
  display: inline;
  text-shadow: -1px -1px $color-bg, -1px 1px $color-bg, 1px -1px $color-bg, 1px 1px $color-bg;
}
