//----------------------------------------------
// Headings
//----------------------------------------------

.hdg {
  @include hdg();
}

.hdg-1 {
  @include hdg-1();
}

.hdg-2 {
  @include hdg-2();
}

.hdg-3 {
  @include hdg-3();
}

.hdg-4 {
  @include hdg-4();
}

.hdg-5 {
  @include hdg-5();
}

.hdg-6 {
  @include hdg-6();
}

.hdg-inline {
  display: inline-block;
}

.hdg-light {
  font-weight: normal;
}

// Should be used only for story/content headlines and headings, not other UI elements
.hdg-headline {
  @include hdg-headline();
}

.hdg-section {
  @include hdg-2();
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    height: 16px;
    position: absolute;
    bottom: -6px;
    left: -10px;
    right: -10px;
    z-index: -1;
    border-radius: 3px;
    background: $color-blue-tint;
  }

  //hide collections title but keep text for SEO
  &.election2020 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.hdg-section-small {
  @include hdg-4();

  &::after {
    height: 12px;
    bottom: -4px;
    left: -4px;
    right: -4px;
  }
}

.hdg-temp {
  margin-left: 15px;
  font-size: 4.5em;
  font-weight: 100;

  @include media-max($media-tablet) {
    margin-top: 15px;
  }
}

.hdg-forecast {
  font-size: 2em;
  font-weight: 200;
  margin: 0 0 34px 5px;
  color: $color-text;
  align-self: flex-end;
}
