// Collection Pages

.collection {
  grid-template-columns: minmax(180px, 30%) 1fr;
  grid-column-gap: 30px;

  @include media($media-small-tablet) {
    display: grid;
    grid-template-areas:
    'header header'
    'body body'
    'sidebar items'
    'pager pager';
  }

  @include media($media-tablet) {
    display: block;
    margin-left: $container-edge-larger;
    grid-template-areas:
    'header header'
    'body body'
    'sidebar items'
    'sidebar pager';
  }

  @include media($media-desktop) {
    display: grid;
  }
}

.collection_header {
  grid-area: header;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.collection_body {
  grid-area: body;
  margin-bottom: 40px;
}

.collection_sidebar {
  grid-area: sidebar;
}

.collection_sidebarHeader {
  margin-bottom: 1rem;
}

.collection_sidebarBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  @include media($media-small-tablet) {
    flex-direction: column;

    > * {
      margin-right: 0;
    }
  }

  @include media($media-tablet) {
    flex-direction: row;

    > * {
      margin-right: 1rem;
    }
  }

  @include media($media-desktop) {
    flex-direction: column;

    > * {
      margin-right: 0;
    }
  }
}

.collection_items {
  grid-area: items;

  > * {
    margin-bottom: 6rem;
  }
}

.collection_pagination {
  grid-area: pager;
}
