// Homepage template/layout

.home {
  // sass-lint:disable no-vendor-prefixes
  display: -ms-grid;
  // sass-lint:disable no-duplicate-properties
  display: grid;

  -ms-grid-columns: 1fr;
  grid-template-areas:
  'top'
  'widget'
  'first'
  'rail'
  'main'
  'sidebar'
  'footer';

  > * {
    // Using bottom margin instead of grid-row-gap
    // because otherwise empty grid areas won't completely collapse
    margin-bottom: 40px;
  }

  @include media($media-small-tablet) {
    -ms-grid-columns: 1fr 5% 180px;
    grid-template-columns: 1fr 180px;
    grid-template-areas:
    'top top'
    'widget rail'
    'first rail'
    'main rail'
    'sidebar rail'
    'footer footer';
    grid-column-gap: 5%;
  }

  @include media($media-tablet) {
    -ms-grid-columns: 1fr 5% 300px;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
    'top top'
    'widget sidebar'
    'first sidebar'
    'rail sidebar'
    'main sidebar'
    'footer footer';
  }

  @include media($media-desktop) {
    -ms-grid-columns: 200px 10px 5% 1fr 5% 300px;
    grid-template-columns: 210px 1fr 300px;
    grid-template-areas:
    'top top sidebar'
    'rail widget sidebar'
    'rail first sidebar'
    'rail main sidebar'
    'footer footer footer';
    margin-right: -($container-edge);
  }

  &.is-blowout {
    .home_first .hdg {
      @include hdg-1();
    }

    .home_top,
    .home_footer {
      -ms-grid-column: 1;
      -ms-grid-row: 1;

      @include media($media-small-tablet) {
        -ms-grid-column-span: 3;
      }

      @include media($media-desktop) {
        -ms-grid-column-span: 6;
      }
    }

    .home_first {
      -ms-grid-column: 1;
      -ms-grid-row: 2;

      @include media($media-small-tablet) {
        -ms-grid-column-span: 3;
      }

      @include media($media-tablet) {
        -ms-grid-column-span: 1;
      }

      @include media($media-desktop) {
        -ms-grid-column-span: 4;
      }
    }

    .home_rail {
      -ms-grid-row: 3;
      -ms-grid-column: 1;

      @include media($media-small-tablet) {
        -ms-grid-column: 3;
      }

      @include media($media-desktop) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }
    }

    .home_main {
      -ms-grid-row: 4;
      -ms-grid-column: 1;

      @include media($media-small-tablet) {
        -ms-grid-row: 3;
      }

      @include media($media-desktop) {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
      }
    }

    .home_sidebar {
      -ms-grid-column: 1;
      -ms-grid-row: 5;

      @include media($media-small-tablet) {
        -ms-grid-row: 4;
      }

      @include media($media-tablet) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
      }

      @include media($media-desktop) {
        -ms-grid-row: 2;
        -ms-grid-column: 6;
      }
    }

    @include media($media-small-tablet) {
      grid-template-areas:
      'top top'
      'widget widget'
      'first first'
      'main rail'
      'sidebar rail'
      'footer footer';
    }

    @include media($media-tablet) {
      grid-template-areas:
      'top top'
      'widget sidebar'
      'first sidebar'
      'rail sidebar'
      'main sidebar'
      'footer footer';
    }

    @include media($media-desktop) {
      -ms-grid-columns: 200px 10px 5% 1fr 5% 300px;
      grid-template-areas:
      'top top sidebar'
      'widget widget sidebar'
      'first first sidebar'
      'rail main sidebar'
      'footer footer footer';
    }
  }
}

.home_top {
  grid-area: top;
  -ms-grid-row: 1;
  -ms-grid-column: 1;

  @include media($media-small-tablet) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  @include media($media-desktop) {
    -ms-grid-row-span: 6;
  }
}

.home_widget {
  grid-area: widget;
  margin-bottom: 1em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;

  @include media($media-small-tablet) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  @include media($media-desktop) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    margin: 3rem auto;
    background: $color-blue-tint;
  }
}

.home_first {
  grid-area: first;
  margin-bottom: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;

  @include media($media-small-tablet) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  @include media($media-desktop) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 80%;
    margin: 3rem auto;
    background: $color-blue-tint;
  }
}

.home_rail {
  grid-area: rail;
  -ms-grid-row: 4;
  -ms-grid-column: 1;

  @include media($media-small-tablet) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  @include media($media-tablet) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  @include media($media-desktop) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

.home_railLinks {
  columns: 2;

  @include media($media-small-tablet) {
    columns: auto;
  }

  @include media($media-tablet) {
    columns: 3;
  }

  @include media($media-desktop) {
    columns: auto;
  }

  > * {
    break-inside: avoid;
  }
}

.home_railSections {
  @include media-max($media-desktop) {
    display: none;
  }
}

.home_main {
  grid-area: main;
  -ms-grid-row: 5;
  -ms-grid-column: 1;

  @include media($media-small-tablet) {
    -ms-grid-row: 4;
  }

  @include media($media-tablet) {
    -ms-grid-row: 5;
  }

  @include media($media-desktop) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
}

.home_more {
  margin-top: 60px;
}

.home_sidebar {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: sidebar;

  @include media($media-small-tablet) {
    -ms-grid-row: 6;
  }

  @include media($media-tablet) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  @include media($media-desktop) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
  }
}

.home_footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-row-span: 6;
  grid-area: footer;
}
