//----------------------------------------------
// Elements
//
// Default element styling.
// No classes in this file
//----------------------------------------------

html {
  box-sizing: border-box;
  font-size: $font-size-root;
  height: 100%;
}

// sass-lint:disable no-vendor-prefixes
*,
*::before,
*::after {
  // Use border-box unless its parent is modified
  // More reading: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  box-sizing: inherit;

  // Keep font smoothing consistent to reduce graphics acceleration bugs with transforms
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::-moz-selection {
  background: $color-default;
}
::selection {
  background: $color-default;
}

body {
  // Flexbox and min-height for sticky footer
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
  font-family: $font-family-default;
  font-size: $font-size-default;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: $color-default;
  // background: url('/static/noisefilter.png') repeat $color-bg;
  background-size: 75px 75px;

  &::before {
    content: '';
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

// Unstyle lists generally; lists are restyled in landmarks/content.scss
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

q {
  &::before,
  &::after {
    content: ''; // Removes automatic quotation marks
  }
}

blockquote {
  &::before,
  &::after {
    content: ''; // Removes automatic quotation marks
  }
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

// Don't want the default margin from normalize
figure {
  margin: 0;
}
