//--------------------------------------------------
// Print CSS Styles
//
// Override existing styles; try to match
// the non-print selector as closely as possible.
//--------------------------------------------------

@media only print {
  //--------------------------------------------------
  // DEBUGGING STYLES
  // These should be commented out or removed
  // before merging to production.
  //--------------------------------------------------

  //--------------------------------------------------
  // PRINT UTILITY CLASSES
  //--------------------------------------------------

  .print-hide {
    display: none;
  }
  .print-show {
    display: block;
  }
  .print-showInline {
    display: inline;
  }
  .print-showInlineBlock {
    display: inline-block;
  }

  //--------------------------------------------------
  // MAIN STYLE OVERRIDES
  //--------------------------------------------------

  html {
    font-size: 50%;
    // Sets global font size
  }
  body {
    display: block;
    // prevents pages being cut off in Firefox
    color: black;
  }

  // Global Header
  .header > .header_navButton,
  .header > .header_navBg,
  .header > .header_nav,
  .header > .weatherHeader,
  .header > .header_search,
  .header > * {
    display: none;
  }
  .header > .header_logo {
    display: block;
  }
  div.headerContainer {
    border-bottom: none;
  }
  main.main {
    margin: 0;
    padding: 0;
  }

  // Player
  .playerWrapper {
    display: none;
  }

  // Sidebar: article
  .container .contentGrid {
    display: block;
  }
  .contentGrid_sidebar {
    display: none;
  }

  // Footers
  .footer .footer_upper {
    display: none;
  }
  .footer .footer_lower {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  .footer .footer_lowerContent,
  .footer_disclaimer {
    display: none;
  }

  // Clutter
  .content .content_social,
  .content .content_audio {
    display: none;
  }
  .apm-related-list {
    display: none;
  }

  //--------------------------------------------------
  // COLUMNS
  //--------------------------------------------------

  // Story columns
  .content.story {
    display: block;
    column-count: 2;
    column-width: 2.5in;
    column-gap: 0.5in;
  }
  .content.story .content_header {
    column-span: all;
  }

  // Some elements should not span columns!
  .content.story figure,
  .content.story blockquote {
    break-inside: avoid;
  } 
  .content.story h2,
  .content.story h3,
  .content.story h4 {
    break-after: avoid;
  }

}
