//--------------------------------------------------
// Print CSS Styles
//
// Override existing styles; try to match
// the non-print selector as closely as possible.
//--------------------------------------------------

@media only print {
  //--------------------------------------------------
  // DEBUGGING STYLES
  // These should be commented out or removed
  // before merging to production.
  //--------------------------------------------------

  //--------------------------------------------------
  // PRINT UTILITY CLASSES
  //--------------------------------------------------

  .print-hide {
    display: none;
  }
  .print-show {
    display: block;
  }
  .print-showInline {
    display: inline;
  }
  .print-showInlineBlock {
    display: inline-block;
  }

  //--------------------------------------------------
  // MAIN STYLE OVERRIDES
  //--------------------------------------------------

  html {
    font-size: 9pt;
    // Sets global font size
  }
  body {
    display: block;
    // prevents pages being cut off in Firefox
    color: black;
  }

  // Global Header
  .header > .header_navButton,
  .header > .header_navBg,
  .header > .header_nav,
  .header > .weatherHeader,
  .header > .header_search,
  .header > * {
    display: none;
  }
  .header > .header_logo {
    display: block;
  }
  div.headerContainer {
    border-bottom: none;
  }

  // Player
  .playerWrapper {
    display: none;
  }

  // Sidebar
  .container .contentGrid {
    display: block;
  }
  .contentGrid_sidebar {
    display: none;
  }

  // Footers
  .footer .footer_upper {
    display: none;
  }
  .footer .footer_lower {
    color: black;
    background-color: white;
  }
  .footer .footer_lowerContent,
  .footer_disclaimer {
    display: none;
  }

  // Clutter
  .content .content_social {
    display: none;
  }
  .apm-related-list {
    display: none;
  }

}
