//----------------------------------------------
// Form fields
//----------------------------------------------

.field {
  width: 100%;
  vertical-align: top;
}

.field-attached {
  display: flex;

  > input {
    flex-grow: 1;
    width: auto;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn {
    width: auto;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.field_input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border: 1px solid $color-grey-50;
  border-radius: 0;
  font-family: $font-family-sans;
  font-size: 1.6rem;
  // sass-lint:disable property-units
  line-height: 40px;
  // sass-lint:enable property-units
  vertical-align: top;
  transition: border-color $transition;

  @include placeholder() {
    font-size: 1.4rem;
    opacity: 1;
    color: $color-text-light;
  }

  &:focus {
    outline: 0;
    border-color: $color-red;
  }
}

// sass-lint:disable no-qualifying-elements
textarea.field_input {
  border: 1px solid $color-grey-50;
}
// sass-lint:enable no-qualifying-elements
