.weatherAlert {
  background-color: $color-lightred;
  color: $color-darkred;
  fill: $color-darkred;
  margin-bottom: 25px;
}

.weatherAlert_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-darkred;
  padding: 10px;
}

.weatherAlert_detail {
  border: 1px solid $color-darkred;
  border-top: 0;
  padding: 10px;
  margin-bottom: 25px;
}

.weatherAlert_title {
  font-size: 1.4em;
}

.alertHome {
  display: flex;
  flex-flow: row nowrap;
  background-color: $color-blue-light;
  border-radius: 3px;

}

.alertHome_prefix {
  padding: 8px 12px;
  background-color: $color-blue-dark;
  color: $color-white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.alertHome_title {
  padding: 8px 12px;
  font-weight: normal;
  color: $color-blue-dark;
}
