.weatherAlert {
  margin-bottom: 25px;
}

.weatherAlert_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $color-darkred;
  padding: 4px 12px;
  background: $color-darkred;
  border-radius: 3px;
}

.weatherAlert_detail {
  border: 1px solid $color-darkred;
  background: rgba($color-lightred, .1);
  padding: 20px;
  margin-bottom: 25px;
  border-top: 7px solid $color-darkred;
  margin-top: -7px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  @include media($media-small-tablet) {
    padding: 40px;
  }

  &.not-active {
    display: none;
  }

  &.active {
    display: block;
  }

}

.weatherAlert_title {
  color: $color-white;
  line-height: 1.2;
}

.alertHome {
  display: flex;
  flex-flow: row nowrap;
  background-color: $color-blue-light;
  border-radius: 3px;

}

.alertHome_prefix {
  padding: 8px 12px;
  background-color: $color-blue-dark;
  color: $color-white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.alertHome_title {
  padding: 8px 12px;
  font-weight: normal;
  color: $color-blue-dark;
}
