//---------------------------------------
// Buttons
//---------------------------------------

$_btn-transition: .2s;
$_btn-transition-fast: .05s;
$_btn-color-theme: $color-theme;
$_btn-bg-default: $color-grey-90;
$_btn-bg-default-hover: $color-grey-80;
$_btn-color-default: $color-grey-10;

.btn {
  @include reset-button();
  padding: 6px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1.5rem;
  font-family: $font-family-sans;
  line-height: 1.5;
  background: $_btn-bg-default;
  color: $_btn-color-default;
  outline: 0;
  // sass-lint:disable indentation
  transition: background-color $_btn-transition,
    border $_btn-transition,
    color $_btn-transition,
    box-shadow $_btn-transition;
  // sass-lint:enable indentation

  &:hover,
  &:focus {
    background-color: $_btn-bg-default-hover;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($_btn-color-theme, 50%);
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    border-color: $color-disabled;
    background: $color-disabled-bg;
    color: $color-disabled;
    cursor: default;

    > .icon {
      fill: $color-disabled;
    }
  }

  > .icon {
    fill: $color-default;
    height: 18px;
    width: 18px;
    margin: -2px 0 -2px 6px;
    vertical-align: -2px;
  }
}

// Button Sizes ***********

.btn-large {
  font-size: 1.75rem;
  padding: 10px 30px;
}

.btn-small {
  font-size: 1.25rem;
  padding: 4px 12px;
}

// Button Types ***********

.btn-primary {
  border: 1px solid $_btn-color-theme;
  background: $_btn-color-theme;
  color: $color-white;

  &:hover,
  &:focus {
    border-color: lighten($_btn-color-theme, 10%);
    background: lighten($_btn-color-theme, 10%);
  }
}

.btn-secondary {
  border: 1px solid $_btn-color-theme;
  color: $_btn-color-theme;
  background: $color-white;

  &:hover,
  &:focus {
    border-color: darken($_btn-color-theme, 20%);
    color: darken($_btn-color-theme, 20%);
    background: lighten($_btn-color-theme, 35%);
  }
}

.btn-destructive {
  border: 1px solid $color-warning;
  background: $color-warning;
  color: $color-white;

  &:hover,
  &:focus {
    border-color: lighten($color-warning, 10%);
    background: lighten($color-warning, 10%);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($color-warning, 50%);
  }
}
