.donateAsk {
  max-width: 50rem;
  line-height: 1.5;
  font-family: $font-family-copy;
  background-color: $color-blue-tint;
  padding: 3rem 2.5rem;
  margin: 3rem auto;
  border-radius: 3px;
  border-top: 6px solid $color-blue-dark;

  &.donateAsk-em {
    margin-left: 0;
    max-width: 100%;

    @include media($media-desktop) {
      max-width: 70%;
    }
  }
}

.donateAsk_header,
.donateAsk_body  {
  margin-bottom: 2rem;
}
