//----------------------------------------------
// Icons
//----------------------------------------------

.icon {
  display: inline-block;
}

.icon-small {
  width: 24px;
  height: 24px;
}

.icon-medium {
  width: 30px;
  height: 30px;
}

.icon-weatherHeader {
  width: 15px;
  height: 15px;

  @include media($media-full-layout) {
    width: 18px;
    height: 18px;
  }
}

.icon-search {
  width: 24px;
  height: 24px;
}
