// Info Link - A structured link with a title and description text, with optional headline link following

.infoLink {
  display: block;
}

.infoLink_title {
  color: $color-link;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  > .icon {
    margin-left: .5rem;
    height: 28px;
    width: 28px;
    vertical-align: -5px;
    fill: $color-link;
  }

  > .icon-updraft {
    height: 32px;
    width: 32px;
    fill: $color-text;
  }

  > .hdg svg {
    max-width: 100%;
    height: auto;
  }
}

.infoLink_description {
  font-size: 1.5rem;
  color: $color-text-dark;
}

.infoLink_headline {
  display: block;
  margin-top: .5rem;

  .hdg::before {
    content: 'Latest';
    display: inline-block;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: .5rem;
    font-size: 1.2rem;
    font-family: $font-family-default;
    font-weight: normal;
    color: $color-text;
    background: $color-blue-tint;
    vertical-align: top;
  }
}
