.pageContainer {
  padding: 50px 40px;
  background: rgba($color-black, .5);
  box-shadow: -5px 0 4px 0 rgba($color-black, .25);
  border-radius: 0 5px;

  @include media($media-tablet) {
    padding: 42px 48px;
  }
}
