.playerWrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: $z-player-sticky;
  width: 100%;

  @include media($media-tablet) {
    position: static;
    bottom: auto;
  }

  &.is-sticky {
    @include media($media-tablet) {
      top: 0;
      position: sticky;
    }
  }
}

.playerWrapper-listenpage {
  position: relative;
}
