// Audio play button

.playButton {
  @include reset-button();
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px;
  background: $color-blue-tint;
}

.playButton_button {
  height: 36px;
  width: 36px;
  padding: 3px;
  border-radius: 100px;
  background: $color-blue;
  color: $color-white;
  fill: currentColor;

  svg {
    display: block;
    height: 31px;
    width: 31px;
  }
}

.playButton_label {
  padding: 0 1rem;
  font-size: 1.2rem;
}
