// Audio play button

.playButton {
  @include reset-button();
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $color-blue-tint;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.playButton-primary {
  width: 100%;
}

.playButton_button {
  height: 36px;
  width: 36px;
  padding: 3px;
  border-radius: 100px;
  background: $color-blue;
  color: $color-white;
  fill: currentColor;
  box-shadow: 0 0 0 3px rgba($color-white, 1);

  .icon {
    display: block;
    height: 31px;
    width: 31px;
  }

  .playButton-primary & {
    height: 50px;
    width: 50px;
    margin-top: -4px;
    margin-bottom: -4px;

    .icon {
      height: 45px;
      width: 45px;
    }
  }
}

.playButton_label {
  padding: 0 1rem;
  font-size: 1.2rem;
}
