//--------------------------------
// Audio Player
//--------------------------------

$_timeline-desktop-height: 15px;
$_timeline-height: 6px;
$_timeline-desktop-width: 16em;
$_timeline-mobile-width: 12em;

.player {
  display: flex;
  background: rgba($color-blue-tint, 1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 14px 32px 0 rgba($color-black, .75);
  width: 100%;

  @include media($media-tablet) {
    box-shadow: none;
  }

  &.is-live {
    .player_time {
      grid-column: 1 / span 5;
    }

    .player_liveLabel {
      display:  inline-block;
      padding: 2px 4px;
      border-radius: 3px;
      background: $color-darkblue;
      color: $color-white;
      margin-right: 6px;
      font-weight: 800;
      text-transform: uppercase;
      font-size: .75em;
    }

    .player_time-right {
      display: none;
    }

    .player_timeline {
      display: none;
    }

    .player_listenLive {
      display: none;
    }

    .player_popout {
      display: flex;
    }
  }
}


.player_wrapper {
  display: flex;
  padding: 8px;
  width: inherit;
  overflow: hidden;

  @include media($media-tablet) {
    padding: 8px 16px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.player_wrapper-listenpage {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba($color-blue-dark, .2);
  border-bottom: 1px solid $color-white;
  padding: 0;

  &::before {
    border-top: 1px solid $color-white;
    content: '';
    display: table;
  }

  &::after {
    border-top: 1px solid rgba($color-blue-dark, .2);
    content: '';
    display: table;
  }
}

.player_wrapperContent {
  // https://css-tricks.com/flexbox-truncated-text/
  // without min-width: 0 things break, you are going bad time
  min-width: 0;
  width: 100%;
  margin: 6px 0 6px 24px;
  order: 2;
}

.player_controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  order: 1;
}

.player_controlsSecondary {
  display: flex;
  justify-content: space-between;

  @include media($media-tablet) {
    flex-direction: column;
    width: auto;
    margin: auto 10px;
  }
}

.player_timeWrapper {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr 60px;
  align-items: center;
}

.player_btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  position: relative;

  &[disabled] {
    opacity: .3;
  }

  svg {
    margin: auto;

    &:focus {
      box-shadow: none;
    }
  }
}

.player_btn-playpause {
  background: $color-theme;
  border-radius: 50%;

  &:focus {
    border-radius: 50%;
  }
}

.player_btn-large {
  width: 36px;
  height: 36px;

  @include media($media-tablet) {
    width: 50px;
    height: 50px;
  }
}

.player_btn-medium {
  width: 32px;
  height: 32px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.player_button-small {
  width: 24px;
  height: 24px;

  svg {
    width: 24px;
    height: 24px;
  }

  @include media($media-tablet) {
    width: 32px;
    height: 32px;
  }
}

.player_play,
.player_pause,
.player_loading {

  svg {
    margin: auto;
    position: relative;
    fill: $color-white;
    width: 36px;
    height: 36px;
    top: 0;

    @include media($media-tablet) {
      top: 2px;
    }
  }
}

.player_pause {
  display: none;
}

.player_loading {
  display: none;
  position: relative;
  fill: $color-theme;
}

.player_body {
  padding: 20px 0;
  width: 85%;
  overflow: hidden;
}

.player_title {
  display: block;
  font-family: $font-family-main;
  color: $color-text-dark;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 61%;

  @include media($media-tablet) {
    width: 80%;
  }
}

.player_content {
  position: relative;
}

.player_label {
  color: $color-theme;
  font-family: $font-family-heading;
  font-weight: bold;
}

.player_time {
  color: $color-text-dark;
  display: flex;
  align-items: center;
}

.player_liveLabel {
  display: none;
}

.player_time-right {
  display: flex;
  justify-content: flex-end;
}

.player_timeline {
  height: $_timeline-height;
  background: rgba($color-blue-dark, .25);
  border-radius: 3px;
  grid-column: 2 / span 3;
  cursor: pointer;
  position: relative;
}

.player_listenLive,
.player_popout {
  @include reset-button();
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: .75em;
  padding-top: 5px;
  color: $color-blue-dark;
  fill: $color-blue-dark;

  &:hover {
    color: $color-blue;
    fill: $color-blue;
  }
}

.player_popout {
  display: none;
}

.player-listenpage {
  background-color: rgba($color-blue-tint, 1);
  background: radial-gradient(circle, rgba($color-white, 1) 7%, rgba($color-blue-tint, 1) 50%);
  box-shadow: none;
  position: static;
  bottom: auto;
}

// PLAYER STATES
.is-playing {
  .player_play {
    display: none;
  }

  .player_pause {
    display: block;
  }

  //move bars
  .player-wave span {
    animation: sound1 1000ms -800ms linear infinite normal;
    opacity: .8;

    &:nth-child(1) {
      animation-duration: 780ms;
      animation-name: sound1;
      height: 75%;
    }

    &:nth-child(2) {
      animation-duration: 750ms;
      animation-name: sound2;
      height: 50%;
    }

    &:nth-child(3) {
      animation-duration: 790ms;
      animation-name: sound3;
      height: 100%;
    }

    &:nth-child(4) {
      animation-duration: 760ms;
      animation-name: sound4;
      height: 70%;
    }
  }
}

.player_mute {
  display: none;
}

.is-muted {
  .player_volume {
    display: none;
  }

  .player_mute {
    display: block;
  }
}

.is-playing,
.is-paused {

  .player_timeline_progress {
    border-radius: 5px;
    height: $_timeline-height;
    background-color: $color-theme;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: $z-player-progress;
  }

  .player_timeline_buffered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    // The js library creates individual
    // buffers as children of the main
    // element.
    // This is where the background is needed.
    > * {
      position: absolute;
      top: 0;
      bottom: 0;
      background: rgba($color-grey-70, .75);
    }

    .player_timeline_loading {
      display: none;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: $z-player-loading;
      background-image: repeating-linear-gradient(-45deg,
        $color-grey-10,
        $color-grey-10 11px,
        $color-grey-80 10px,
        $color-grey-80 20px);
      background-size: 28px 28px;
      animation: loading .5s linear infinite;
    }
  }
}

.is-loading {
  .player-wave span {
    animation: loading1 500ms linear infinite normal;
    height: 100%;

    &:nth-child(1) {
      animation-name: loading1;
      animation-duration: 500ms;
      height: 100%;
    }

    &:nth-child(2) {
      animation-name: loading2;
      animation-duration: 500ms;
      height: 100%;
    }

    &:nth-child(3) {
      animation-name: loading3;
      animation-duration: 500ms;
      height: 100%;
    }

    &:nth-child(4) {
      animation-name: loading4;
      animation-duration: 500ms;
      height: 100%;
    }
  }

  .player_play {
    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      margin-top: -25px;
      margin-left: -25px;
      border-radius: 50%;
      border: 4px solid transparent;
      border-top-color: $color-theme;
      border-bottom-color: $color-theme;
      animation: spinner 1.5s linear infinite;

      @include media($media-tablet) {
        width: 50px;
        height: 50px;
      }
    }
 }
}

.is-paused .player-wave span {
  animation: none;

  &:nth-child(1) {
    left: 0;
  }

  &:nth-child(2) {
    left: 5px;
  }

  &:nth-child(3) {
    left: 10px;
  }

  &:nth-child(4) {
    left: 15px;
  }
}

.player-volume-level {
  width: 8px;
  height: 29px;
  border-radius: 5px;
  background: rgba($color-theme, .5);
  // background: image-url('volume-bar-bg.svg') repeat bottom transparent;
  position: relative;
  cursor: pointer;

  @media (min-width: 37.5em) {
    height: 38px;
  }
}

.player-volume-current {
  width: 100%;
  height: 100%;
  background: $color-theme;
  // background: image-url('volume-bar.svg') repeat bottom transparent;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  border-radius: 5px;
}

@keyframes loading1 {
  0% { opacity: 1; }
  25% { opacity: .5; }
  50% { opacity: .5; }
  75% { opacity: .5; }
}

@keyframes loading2 {
  0% { opacity: .5; }
  25% { opacity: 1; }
  50% { opacity: .5; }
  75% { opacity: .5; }
}

@keyframes loading3 {
  0% { opacity: .5; }
  25% { opacity: .5; }
  50% { opacity: 1; }
  75% { opacity: .5; }
}

@keyframes loading4 {
  0% { opacity: .5; }
  25% { opacity: .5; }
  50% { opacity: .5; }
  75% { opacity: 1; }
}

@keyframes sound1 {
  0% { height: 20%; }
  20% { height: 27%; }
  28% { height: 20%; }
  50% { height: 80%; }
  52% { height: 20%; }
  85% { height: 60%; }
  100% { height: 20%; }
}

@keyframes sound2 {
  0% { height: 20%; }
  20% { height: 35%; }
  24% { height: 20%; }
  40% { height: 100%; }
  48% { height: 20%; }
  70% { height: 90%; }
  100% { height: 20%; }
}

@keyframes sound3 {
  0% { height: 20%; }
  20% { height: 40%; }
  24% { height: 20%; }
  50% { height: 80%; }
  58% { height: 20%; }
  75% { height: 100%; }
  100% { height: 20%; }
}

@keyframes sound4 {
  0% { height: 20%; }
  20% { height: 30%; }
  24% { height: 20%; }
  40% { height: 50%; }
  48% { height: 20%; }
  70% { height: 80%; }
  78% { height: 20%; }
  90% { height: 65%; }
  100% { height: 20%; }
}
