//--------------------------------------
// event
// this is a temporaly styles for events
//--------------------------------------

.event {
  @include clearfix();
}

.event_header {
  margin-bottom: 4rem;
}

// For containing metadata such as author, date
.event_meta {
  margin: 25px 0;
  font-size: 1.8rem;
  font-family: $font-family-default;
}

.event_topic {
  text-transform: uppercase;
}

.event_title {
  @include hdg();
  @include hdg-1();
}

.event_subtitle {
  margin: 0;
  font-family: $font-family-heading;
  font-size: 1.6rem;
}

.event_date {
  display: inline-block;
  margin-right: 20px;
  font-family: $font-family-copy;
}

.event_body {
  font-family: $font-family-copy;
  font-size: 1.6rem;
  line-height: 1.8;

  @include media($media-small-tablet) {
    font-size: 1.8rem;
    line-height: 2;
  }

  > * {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
}
