//----------------------------------------------
// Vertical Lists
//----------------------------------------------

.vList {
  > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.vList-condensed {
  > * {
    margin-bottom: 4px;
  }
}

.vList-compressed {
  > * {
    margin-bottom: 1px;
  }
}

.vList-collection {
  > * {
    &:not(:last-child)::after {
      content: '';
      display: block;
      height: 1px;
      width: 80%;
      margin: 3rem auto;
      background: $color-blue-tint;
    }
  }
}

.vList-block {
  > * {
    display: block;
  }
}
