// Main Site Footer

.footer {
  margin-top: 50px;
  background-color: $color-blue-tint;
}

.footer_upper {
  max-width: $max-width;
  padding: 40px $container-edge;
  margin: 0 auto;
  columns: 3 300px;

  > * {
    break-inside: avoid;
  }
}

.footer_header {
  margin-bottom: 2rem;
}

//--------------------------
// Mobile app info
//--------------------------

.footer_apps {
  font-size: 1.4rem;
  font-weight: 700;
}

.footer_body-apps {
  grid-area: apps;
  display: grid;
  grid-template-areas: 'img list';
  grid-template-columns: 90px 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
}

.footer_appImg {
  grid-area: img;
}

.footer_appList {
  grid-area: list;
}

.footer_appLinkImg {
  height: 40px;
  width: auto;
}

//--------------------------
// Podcast info
//--------------------------

.footer_podcasts {
  grid-area: podcasts;
}

//--------------------------
// Contact
//--------------------------

.footer_contact {
  grid-area: contact;
}

//--------------------------
// Email subscription
//--------------------------

.footer_subscribe {
  grid-area: subscribe;
}

//--------------------------
// Programming/Audio info
//--------------------------

.footer_prog {
  grid-area: prog;
}

//--------------------------
// Lower footer area
//--------------------------

.footer_lower {
  padding: 40px 0 20px;
  background-color: $color-theme;
  color: $color-white;
}

.footer_lowerContent {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;


  @include media($media-small-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer_logo {
  width: 120px;
  margin: 0 40px 40px;
  flex-shrink: 0;

  @include media($media-small-tablet) {
    margin-bottom: 0;
  }

  img {
    width: 120px;
  }
}

.footer_navList {
  @include media($media-tablet) {
    margin-top: .8rem;
    columns: 3 24rem;
  }
}

.footer_navItem {
  margin-bottom: .8rem;
}

.footer_navLink {
  font-weight: bold;
  font-size: 1.5rem;
}

.footer_lowerSmall {
  text-align: center;
}

.footer_copyright,
.footer_disclaimer {
  font-size: 1.2rem;
}

.footer_disclaimer {
  opacity: .8;
  font-style: italic;
}

