//--------------------------------
// Main Nav
//--------------------------------

.nav {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;

  @include media($media-full-layout) {
    font-size: 1.6rem;
    display: none;
  }

  @include media($media-desktop) {
    font-size: 2rem;

    .is-compact & {
      font-size: 1.6rem;
    }
  }
}

.nav_header {
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.nav_button {
  @include reset-button();
  display: flex;
  line-height: 1.6;
}

.nav_closeButton {
  @include reset-button();
  display: block;
  transition: color $transition-menu;
  color: $color-white;
}

.nav_list {
  display: flex;
  flex-direction: column;
}

.nav_items {
  margin-top: 8px;
}

.nav_item {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.nav_item-donate {
  font-size: 1.2rem;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  .nav_link {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 4px;
    border: 2px solid $color-darkred;
    border-radius: 2px;
    color: $color-darkblue;
  }
}

.nav_link {
  display: flex;
  flex-direction: row;
  padding: 6px 0;
  color: $color-blue-dark;
  transition: color $transition;
  font-size: .875em;

  &:hover,
  &:focus {
    color: $color-blue-faded;
  }

  @include media($media-full-layout) {
    color: $color-black;
  }
}

.nav_icon {
  display: none;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  margin-left: 4px;

  > svg {
    height: 100%;
    width: 100%;
  }

  @include media($media-full-layout) {
    display: block;
  }
}

.nav_link-button {
  @include reset-button();
}

.nav_footer {
  margin-top: 50px;
}

.nav_title {
  font-size: 1em;
  color: $color-grey-50;

  &::after {
    content: '';
    padding-bottom: 2px;
    display: block;
    background: $color-grey-50;
    border-radius: 2px;
    margin-top: 9px;
    opacity: .15;
  }
}
