.newspartners {
  margin: 20px;

  .contentGrid {
    display: block;
  }

  .contentGrid_main {
    max-width: 800px;
    margin: 0 auto;
  }

  .contentGrid_sidebar {
    display: none;
  }

  .content_audio {
    display: none;
  }

}
