//----------------------------------------------
// Blocks
//
// Allows a list of contents to take up space
// at defined widths similar to columns, but
// the content flows horizontally instead of
// vertically. Each block can be of arbitrary
// height and the tallest one will push the
// next row down.
//----------------------------------------------


$_blocks-gutter: 5%; // Needs to be a percentage
$_blocks-vertical-gutter: 40px;
$_blocks-vertical-gutter-lg: 80px;
$_blocks-sizes: 1, 2, 3, 4;

.blocks {
  margin-left: -$_blocks-gutter;
  margin-bottom: -$_blocks-vertical-gutter;
  font-size: 0; // Removes whitespace between blocks

  @include media($media-tablet) {
    margin-bottom: -$_blocks-vertical-gutter-lg;
  }

  > * {
    width: 100% - $_blocks-gutter; // To fill space if there are no size rules applied
    margin-left: $_blocks-gutter;
    margin-bottom: $_blocks-vertical-gutter;
    display: inline-block;
    font-size: $font-size-default; // Reset font size
    vertical-align: top;

    @include media($media-tablet) {
      margin-bottom: $_blocks-vertical-gutter-lg;
    }
  }
}

@include blocks-layout($_blocks-gutter, $_blocks-sizes);

@include blocks-layout($_blocks-gutter, $_blocks-sizes, $media-small-tablet, smallTablet);

@include blocks-layout($_blocks-gutter, $_blocks-sizes, $media-tablet, tablet);

@include blocks-layout($_blocks-gutter, $_blocks-sizes, $media-desktop, desktop);
