//----------------------------------------------
// Module
//
// A generic structure containing a header,
// body, and footer with spacing. Header and
// footer are optional.
//----------------------------------------------

.mod {
  display: block;
  position: relative;
}

.mod_header {
  display: block;
  margin-bottom: 10px;
}

.mod_header-lg {
  margin-bottom: 60px;
}

.mod_row {
  margin-bottom: 10px;
}

.mod_img {
  display: block;
  margin-bottom: 10px;
  position: relative;

  img,
  video {
    width: 100%;
  }
}

.mod_footer {
  display: block;
  margin-top: 10px;
}
