.table {
  width: 100%;
}

.striped-row {
  background-color:  $color-grey-90;
}

.leftmost {
  padding-left: 1rem;
  font-weight: bold;
  color: $color-grey-60;
  width: 15%;
}

.rightmost {
  padding: 1rem 0 1rem 1rem;
  width: 85%;
}
